<a href="https://colab.research.google.com/github/AugJung/Python_DataAnaylize/blob/Python/20230529.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Chapter 2. 데이터 수집하기 #

* 앞에서는 파이썬 딕셔너리 > json.dumps 문자열 변환 > json loads 사용

* 지금은 json 문자열 > json.loads에 직접 전:달

In [ ]:
import json

d3 = json.loads('{"name": "정성", "author":"박해선", "year":"2022"}')

print(d3['name'])
print(d3['author'])
print(d3['year'])

정성
박해선
2022

* 한가지 키에 여러 값이 들어갈 경우 이를 호출하는 법

In [ ]:
d4 = json.loads('{"name": ["정성용","김다현"], "author" :"박해선"}')
print(d4['name'][0])
print(d4['name'][1])

정성용
김다현

* json 배열 작성

> json 객체를 대괄호 안에 나열

In [ ]:
d4_str ="""
[ {"name" : "정성용", "author" : "박해선" },
{"name" : "정진기","author" : "박해수"}
]
"""
d4 = json.loads(d4_str)
print(d4[0]['name'])
print(d4[1]['name'])

정성용
정진기

* json 문자열을 데이터 프레임프레임으로 변환하기: read_json 함수

In [ ]:
import pandas as pd
pd.read_json(d4_str)
pd.DataFrame(d4)

  name author
0  정성용    박해선
1  정진기    박해수

### 파이썬에서 XML데이터 다루기###

* XML은 엘리먼트들이 계층 구조를 이루면서 정보를 표헌 
* 엘리먼트는 시작태그와 종료태그가 있음
* 부모 엘리먼트 - 자식 엘리먼트로 구분됨

In [2]:
import xml.etree.ElementTree as et

x_str = """

<book>
  <name>정성용</name>
  <author>박해선</author>
  <year>2022</year>
</book>
"""

book = et.fromstring(x_str)
print(type(book))
print(book.tag)

<class 'xml.etree.ElementTree.Element'>
book

* 자식 엘리먼트 확인하기: findtext 메서드

In [6]:
book_childs = list(book)
print(book_childs)

name, author, year = book_childs
print(name.text)
print(author.text)
print(year.text)

[<Element 'name' at 0x7ff1900c89f0>, <Element 'author' at 0x7ff1900c8a40>, <Element 'year' at 0x7ff1900c8a90>]
정성용
박해선
2022
정성용
박해선
2022

* 순서대로 나열되어 있지 않은 자식 엘리먼트를 찾기위해서 findtext 메서드 활용

In [7]:

name = book.findtext('name')
author = book.findtext('author')
year = book.findtext('year')
print(name)
print(author)
print(year)

정성용
박해선
2022

* 두개 이상의 부모 엘리먼트가 있을 때
>  XML은 배열 구조가 없음

In [8]:
x2_str= """
<books>
  <book>
    <name>SYJ</name>
    <author>KOS</author>
    <year>2022</year>
  </book>
  <book>
    <name>JJY</name>
    <author>iiie</author>
    <year>2098</year>
  </book>
</books>
"""

books = et.fromstring(x2_str)
print(books.tag)

books

* 여러 개의 자식 엘리먼트 확인하기: findall 메서드, for 문

In [12]:
for book in books.findall('book'):
  name = book.findtext('name')
  author = book.findtext('author')
  year = book.findtext('year')
  print(name)
  print(author)
  print(year)
  print() ##빈칸#용

SYJ
KOS
2022

JJY
iiie
2098

* XML to pandas
> pandas의 read.xml 사용하면 가능